.field.deployment-notes-markdown ul.panelsNav, .field.deployment-notes-markdown ul.panelsNav li {
    margin: 0;
    padding: 0;
    
    list-style-type: none;
}

.field.deployment-notes-markdown ul.panelsNav {
    float: right;
    
    margin-right: 20px;
}

.field.deployment-notes-markdown ul.panelsNav li {
    float: left;
}

.field.deployment-notes-markdown ul.panelsNav li + li {
    margin-left: 5px;
}

.field.deployment-notes-markdown ul.panelsNav li a {
    background: #A4B4BE;
    
    display: block;
    
    color: #333333;
    
    margin-bottom: -1px;
    padding: 0 22px;
    
    line-height: 30px;
    
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.field.deployment-notes-markdown ul.panelsNav li a:hover, .field.deployment-notes-markdown ul.panelsNav li a:active, .field.deployment-notes-markdown ul.panelsNav li a:focus {
    text-decoration: none;
}

.field.deployment-notes-markdown ul.panelsNav li a.selected {
    background: #2B79A5;
    
    color: #FFFFFF;
}

.field.deployment-notes-markdown .middleColumn {
    clear: both;
}

.field.deployment-notes-markdown .panels {
    position: relative;
}

.field.deployment-notes-markdown .deployment-notes-markdown-editor {
    position: relative;
}

.field.deployment-notes-markdown textarea {
    background: #FFFFFF;
    
    font-family: Consolas, monospace;
    
    width: 100% !important;
    max-width: none;
    
    margin: 0;
    
    box-sizing: border-box;
}

.field.deployment-notes-markdown textarea.image-support {
    border-bottom: 0;
    
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.field.deployment-notes-markdown .deployment-notes-markdown-editor .deployment-notes-markdown-message {
    background: #F1F0EF;
    
    font-size: 0.8em;
    color: #999999;
    
    padding: 4px 10px;
    
    border: 1px solid #C3C3C3;
    border-top-style: dashed;
    
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.field.deployment-notes-markdown .deployment-notes-markdown-editor .deployment-notes-markdown-message.error {
    color: #CF0002;
}

.field.deployment-notes-markdown .deployment-notes-markdown-editor .deployment-notes-markdown-loader {
    background: rgba(255, 255, 255, 0.7);
    
    display: none;
    
    position: absolute;
    top: 0;
    left: 0;
    
    font-size: 42px;
    
    width: 100%;
    height: 100%;
    
    text-align: center;
}

.field.deployment-notes-markdown .deployment-notes-markdown-editor .deployment-notes-markdown-loader .deployment-notes-markdown-upload-progress {
    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 150px;
    height: 10px;
    
    border: 1px solid #444444;
    
    margin: 40px 0 0 -75px;
}

.field.deployment-notes-markdown .deployment-notes-markdown-editor .deployment-notes-markdown-loader .deployment-notes-markdown-upload-progress i {
    background: #000000;
    
    display: block;
    
    width: 0;
    height: 10px;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview {
    background: #FFFFFF;
    
    display: none;
    
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    
    font-size: 14px;
    
    width: 100%;
    
    padding: 7px;
    
    border: 1px solid #C3C3C3;
    
    overflow-x: hidden;
    overflow-y: auto;
    
    box-sizing: border-box;
    
    -webkit-overflow-scrolling: touch;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview img {
    max-width: 98%;
}

.field.deployment-notes-markdown.image-support textarea.drag-over {
    box-shadow: 0px 0px 5px 0px rgba(97, 149, 14, 0.75);
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview >:first-child {
    margin-top: 0px;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview h1, .field.deployment-notes-markdown .deployment-notes-markdown-preview h2,
.field.deployment-notes-markdown .deployment-notes-markdown-preview h3, .field.deployment-notes-markdown .deployment-notes-markdown-preview h4,
.field.deployment-notes-markdown .deployment-notes-markdown-preview h5, .field.deployment-notes-markdown .deployment-notes-markdown-preview h6 {
    color: #000000;
    
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    
    line-height: 1.2;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview ul,
.field.deployment-notes-markdown .deployment-notes-markdown-preview ol {
    margin: 0 0 0.5em;
    padding: 0 0 0 1.618em;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview ul > li {
    margin-left: 0;
    padding-left: 0;
    
    list-style-type: disc;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview ol > li {
    list-style-type: decimal;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview h1 {
    font-size: 2.4em;
    font-weight: 300;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview h2 {
    font-size: 1.8em;
    font-weight: 400;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview h3 {
    font-size: 1.5em;
    font-weight: 500;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview h4 {
    font-size: 1.2em;
    font-weight: 600;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview h5 {
    font-size: 1.1em;
    font-weight: 600;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview h6 {
    font-size: 1em;
    font-weight: 600;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview del {
    color: rgb(124, 135, 156);
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview a,.field.deployment-notes-markdown .deployment-notes-markdown-preview a code {
    color: rgb(82, 139, 255);
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview img {
    max-width: 100%;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview >p {
    margin-top: 0px;
    margin-bottom: 1.5em;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview >ul, .field.deployment-notes-markdown .deployment-notes-markdown-preview>ol {
    margin-bottom: 1.5em;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview blockquote {
    margin: 1.5em 0px;
    font-size: inherit;
    color: rgb(124, 135, 156);
    border-color: rgb(75, 83, 98);
    border-width: 4px;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview hr {
    margin: 3em 0px;
    border: 0;
    border-top: 2px dashed rgb(75, 83, 98);
    background: none;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview table {
    margin: 1.5em 0px;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview th {
    color: rgb(255, 255, 255);
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview th,.field.deployment-notes-markdown .deployment-notes-markdown-preview td {
    padding: 0.66em 1em;
    border: 1px solid rgb(75, 83, 98);
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview code {
    background-color: rgb(58, 63, 75);
    
    color: rgb(255, 255, 255);
    
    padding: 0 4px;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview pre.editor-colors {
    margin: 1.5em 0px;
    padding: 1em;
    font-size: 0.92em;
    border-radius: 3px;
    background-color: rgb(49, 54, 63);
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .bracket-matcher .region {
    border-bottom: 1px dotted lime;
    position: absolute;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .spell-check-misspelling .region {
    border-bottom: 2px dotted rgba(255, 51, 51, 0.75);
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .comment {
    color: #5c6370;
    font-style: italic;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .comment .markup.link {
    color: #5c6370;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .entity.name.type {
    color: #e5c07b;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .entity.other.inherited-class {
    color: #98c379;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .keyword {
    color: #c678dd;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .keyword.control {
    color: #c678dd;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .keyword.operator {
    color: #abb2bf;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .keyword.other.special-method {
    color: #61afef;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .keyword.other.unit {
    color: #d19a66;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .storage {
    color: #c678dd;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .storage.type.annotation, .field.deployment-notes-markdown .deployment-notes-markdown-preview .storage.type.primitive {
    color: #c678dd;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .storage.modifier.package, .field.deployment-notes-markdown .deployment-notes-markdown-preview .storage.modifier.import {
    color: #abb2bf;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .constant {
    color: #d19a66;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .constant.variable {
    color: #d19a66;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .constant.character.escape {
    color: #56b6c2;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .constant.numeric {
    color: #d19a66;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .constant.other.color {
    color: #56b6c2;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .constant.other.symbol {
    color: #56b6c2;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .variable {
    color: #e06c75;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .variable.interpolation {
    color: #be5046;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .variable.parameter {
    color: #abb2bf;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .string {
    color: #98c379;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .string.regexp {
    color: #56b6c2;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .string.regexp .source.ruby.embedded {
    color: #e5c07b;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .string.other.link {
    color: #e06c75;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .punctuation.definition.comment {
    color: #5c6370;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview punctuation.definition.method-parameters, .field.deployment-notes-markdown .deployment-notes-markdown-preview .punctuation.definition.function-parameters, .field.deployment-notes-markdown .deployment-notes-markdown-preview .punctuation.definition.parameters,
.field.deployment-notes-markdown .deployment-notes-markdown-preview .punctuation.definition.separator, .field.deployment-notes-markdown .deployment-notes-markdown-preview .punctuation.definition.seperator, .field.deployment-notes-markdown .deployment-notes-markdown-preview .punctuation.definition.array {
    color: #abb2bf;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .punctuation.definition.heading, .field.deployment-notes-markdown .deployment-notes-markdown-preview .punctuation.definition.identity {
    color: #61afef;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .punctuation.definition.bold {
    color: #e5c07b;
    font-weight: bold;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .punctuation.definition.italic {
    color: #c678dd;
    font-style: italic;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .punctuation.section.embedded {
    color: #be5046;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .punctuation.section.method, .field.deployment-notes-markdown .deployment-notes-markdown-preview .punctuation.section.class, .field.deployment-notes-markdown .deployment-notes-markdown-preview .punctuation.section.inner-class {
    color: #abb2bf;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .support.class {
    color: #e5c07b;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .support.type {
    color: #56b6c2;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .support.function {
    color: #56b6c2;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .support.function.any-method {
    color: #61afef;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .entity.name.function {
    color: #61afef;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .entity.name.class, .field.deployment-notes-markdown .deployment-notes-markdown-preview .entity.name.type.class {
    color: #e5c07b;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .entity.name.section {
    color: #61afef;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .entity.name.tag {
    color: #e06c75;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .entity.other.attribute-name {
    color: #d19a66;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .entity.other.attribute-name.id {
    color: #61afef;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .meta.class {
    color: #e5c07b;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .meta.class.body {
    color: #abb2bf;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .meta.method-call, .field.deployment-notes-markdown .deployment-notes-markdown-preview .meta.method {
    color: #abb2bf;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .meta.definition.variable {
    color: #e06c75;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .meta.link {
    color: #d19a66;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .meta.require {
    color: #61afef;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .meta.selector {
    color: #c678dd;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .meta.separator {
    background-color: #373b41;
    color: #abb2bf;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .meta.tag {
    color: #abb2bf;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .underline {
    text-decoration: underline;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .none {
    color: #abb2bf;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .invalid.deprecated {
    color: #523d14 !important;
    background-color: #e0c285 !important;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .invalid.illegal {
    color: #ffffff !important;
    background-color: #e05252 !important;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .markup.bold {
    color: #d19a66;
    font-weight: bold;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .markup.changed {
    color: #c678dd;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .markup.deleted {
    color: #e06c75;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .markup.italic {
    color: #c678dd;
    font-style: italic;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .markup.heading {
    color: #e06c75;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .markup.heading .punctuation.definition.heading {
    color: #61afef;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .markup.link {
    color: #c678dd;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .markup.inserted {
    color: #98c379;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .markup.quote {
    color: #d19a66;
}

.field.deployment-notes-markdown .deployment-notes-markdown-preview .markup.raw {
    color: #98c379;
}